*{
    margin:0;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}
body{
    background-color: #242038;
}
nav{
  position: fixed;
    float: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width:100px;
    height:100vh;
    background-color: #EA7AF4;
    border-top-right-radius:100px ;
    border-bottom-right-radius: 100px;
}
.button_active{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(30%);
    width: 130px;
    height: 130px;
    border-radius:100% ;
    background-color: #EA7AF4;
    box-sizing: border-box;
    border: #242038 30px solid;
}
.button_active svg{
    color:#242038;
}
.button svg{
    color:#EA7AF4;
}
.nav_container:hover svg{
    color: #242038;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10%);
    width: 80px;
    height: 80px;
    border-radius:100% ;
    background-color: #242038;
    transition: 1s;
}
.nav_container{
    width:150%;
}
svg{
    width: 50px;
    height: 50px;
}
.nav_container:hover .button{
    transform: translateX(30%);
    width: 130px;
    height: 130px;
    background-color: #EA7AF4;
    box-sizing: border-box;
    border: #242038 30px solid;
}
.sun{
    position: relative;
    top:10px;
    left:50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: linear-gradient(#F7E733, #F78533);
    border-radius: 100%;
}
.sun .line{
    position: absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    content: "";
    width:700px;
    height:25px;
    background-color: #242038;
}
.sun .line::before{
    position: absolute;
    bottom:50px;
    left:50%;
    transform: translateX(-50%);
    content: "";
    width:700px;
    height:15px;
    background-color: #242038;
}
.sun .line::after{
    position: absolute;
    top:-70px;
    left:50%;
    transform: translateX(-50%);
    content: "";
    width:700px;
    height:5px;
    background-color: #242038;
}
.content_ML{
  float:right;
  margin:100px;
  width:70%;
  height:70vh;
  overflow: auto;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 40px;
}
.content_ML .text_content{
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #242038;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #EA7AF4;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #D16FDA;
  }
.content_home{
  width:70vw;
  float: right;
  margin-right:100px;
}
  .label_home{
    height: auto;
    margin:0 auto;
    margin-top:40px;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: #EA7AF4 5px solid;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #EA7AF4,
            0 0 0.8rem #EA7AF4,
            0 0 2.8rem #EA7AF4,
            inset 0 0 1.3rem #EA7AF4;
  }
  .label_home .label_box{
    color:white;
    padding:1px;
    font-size: 20px;
    width:90%;
    margin: 5px;
    height: 50px;
  }
  .label_box label{
    width:20%;
    margin-top: 100px;
  }
  .label_box_projet{
    color:white;
    padding:1px;
    font-size: 20px;
    width:100%;
    margin: 5px;
    height: 100px;
  }
  .label_box input{
    background-color: #EA7AF4;
    border-radius: 10px;
    padding:5px;
    width:80%;
    float:right;
    height:40px;
    font-size:1em;
  }
  .label_box_projet textarea{
    background-color: #EA7AF4;
    border-radius: 10px;
    width:80%;
    min-height: 100px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    float:right;
    resize: none;
    font-size:1em;
  }
  .label_box select{
    text-align: center;
    appearance: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EA7AF4;
    border-radius: 10px;
    font-size:1em;
  }
  .label_home input[type="submit"]{
    margin-left:50%;
    transform: translateX(-50%);
    text-align: center;
    font-size:20px;
    text-transform: capitalize;
    margin-top:10px;
    background: linear-gradient(#F7E733, #F78533);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:5px;
  }
.label_home .select_box{
  text-align: center;
}
.label_connexion{
  height: auto;
  margin:0 auto;
  margin-top:40px;
  padding: 10px;
  width: 400px;
  float:none;
  border-radius: 20px;
  border: #EA7AF4 5px solid;
  box-shadow: 0 0 .2rem #fff,
          0 0 .2rem #fff,
          0 0 2rem #EA7AF4,
          0 0 0.8rem #EA7AF4,
          0 0 2.8rem #EA7AF4,
          inset 0 0 1.3rem #EA7AF4;
}
.label_connexion form[action="connexion.php"]{
    color:white;
    padding:1px;
    font-size: 20px;
    width:100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label_connexion form[action="connexion.php"] input[type="text"], .label_connexion form[action="connexion.php"] input[type="password"]{
  background-color: #EA7AF4;
    border-radius: 10px;
    padding:5px;
    width:80%;
    float:right;
}
.label_connexion input[type="submit"]{
  text-align: center;
  font-size:20px;
  text-transform: capitalize;
  margin-top:10px;
  background: linear-gradient(#F7E733, #F78533);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding:5px;
}

.all_table{
  overflow: auto;
}
.line_table{
  display:flex;
  flex-direction: row;
  align-items: center;
  border:3px solid #EA7AF4;
  border-radius:100px;
  margin-bottom:10px;
  margin-top:10px;
  width: 75vw;
  height:100px;
}
.content_line{
  display: flex;
  flex-direction: column;
  width:calc(100%/5);
  text-align: center;
}
.content_admin{
  margin-left:150px;
  height:90vh;
  color:#fff;
}
.button_table{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  margin-top:20px;
}
.button_table a svg, .delete-btn{
  cursor:pointer;
  color:#F7E733;
  border:3px solid #EA7AF4;
  border-radius: 100%;
  width:50px;
  height:50px;
  font-size: 30px;
  padding: 3px;
  margin:2px;
}
.delete-btn{
  width: 60px;
  height: 60px;
  background-color: #242038;
}
.disconnect_button{
  position: absolute;
  left: 290px;
  top:3px;
  cursor: pointer;
  border:3px solid #EA7AF4;
  border-radius: 100px;
  width:auto;
  height:30px;
  background-color: #242038;
  color: #F7E733;
  transition: 0.5s;
}
.disconnect_button:hover{
  background-color: #EA7AF4;
  color: #242038;
}
 .button_table svg:hover, .delete-btn:hover{
  transform:scale(110%);
}


.card {
  box-sizing: content-box;
  padding: 30px;
  font-style: sans-serif;
}

.info_enregistre{
  text-align: center;
  color: white;
  font-size: 30px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom: 40px;
  padding: 20px;
  width: 400px;
  float:none;
  border-radius: 20px;
  border: #EA7AF4 5px solid;
  box-shadow: 0 0 .2rem #fff,
          0 0 .2rem #fff,
          0 0 2rem #EA7AF4,
          0 0 0.8rem #EA7AF4,
          0 0 2.8rem #EA7AF4,
          inset 0 0 1.3rem #EA7AF4;
}

.retour_button{
  border:3px solid #EA7AF4;
  border-radius: 100px;
  width:auto;
  height:30px;
  background-color: #242038;
  color: #F7E733;
  transition: 0.5s;
  margin-bottom: 10px;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
}
.retour_button:hover{
  background-color: #EA7AF4;
  color: #242038;
}
.config_container{
  float:right;
}